*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background-color: #fbfbfb;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

input {
  border: none;
  font-family: inherit;
}
input:focus-within {
  outline: none;
}
fieldset {
  border: none;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
a {
  text-decoration: none;
  font-family: inherit;
}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow-y: hidden;
}
.app__main {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
}
