$primary-100: #39cdcc;
$primary-text-dark: #213f7d;
$secondary-100: #545f7d;
$secondary-100-15: #545f7d26;
$secondary-200: #213f7d;
$neutral-100: #fff;
$black-4: #0000000a;
$error: #d31b3a;
$text-spacing-sm: 2px;
// Border radius
$rounded-md: 8px;
$roboto-font: var(--font-roboto);
