$primary-100: #39cdcc;
$primary-100-6: #37cdcd0f;
$primary-text-dark: #213f7d;
$secondary-100: #545f7d;
$secondary-100-15: #545f7d26;
$secondary-100-14: #545f7d24;
$secondary-100-4: #545f7d0a;
$secondary-200: #213f7d;
$secondary-200-10: #213f7d1a;
$secondary-200-15: #21407d7a;
$neutral-100: #fff;
$black-4: #0000000a;
$error: #d31b3a;
$text-spacing-sm: 2px;
// Border radius
$rounded-sm: 4px;
$rounded-md: 8px;
$roboto-font: var(--font-roboto);

@mixin flex-layout($direction: row, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin padding-spacing-all($all: 10px) {
  padding: $all;
}
@mixin calculte-dynamic-height($diff: 100px) {
  height: calc(100svh - $diff);
}

@mixin add-shadow($x: 3px, $y: 5px, $blur: 20px) {
  box-shadow: $x $y $blur $black-4;
}
