@import "../../../../utils/styles.utils.scss";

.user__dashboard--container {
  @include padding-spacing-all($all: 60px);
  @include calculte-dynamic-height();
  scrollbar-width: none;
  overflow-y: auto;

  .user__reports--container {
    @include flex-layout($gap: 26px);
    margin-block: 40px;
    .user__card--container {
      @include padding-spacing-all($all: 30px);
      padding-top: 20px;
      height: 160px;
      max-width: 240px;
      width: 100%;
      border: 1px solid $primary-100-6;
      box-shadow: 3px 5px 20px $black-4;
      background-color: $neutral-100;
      border-radius: 4px;
      figure {
        margin-bottom: 14px;
      }
      .user__card--title {
        @include default-font-style();
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      .user__card--result {
        @include default-font-style(
          $weight: 600,
          $size: 1.5rem,
          $color: $secondary-200
        );
      }
    }
  }
  .user__table--container {
    @include padding-spacing-all($all: 30px);
    padding-bottom: 32px;
    background-color: $neutral-100;
    border-radius: 4px;
    position: relative;
    .user__table {
      width: 100%;
      overflow: auto;
      border-collapse: collapse;
      &--item {
        width: 100%;
        vertical-align: baseline;
        div {
          margin-top: 15px;
        }
        .user__status {
          height: 30px;
          padding-block: 7px 6px;
          border-radius: 100px;
        }

        &:first-child {
          div {
            margin-top: 30px;
          }
        }

        td {
          @include default-font-style($weight: 400);
          padding-bottom: 16px;
          .more__icon--btn {
            vertical-align: middle;
          }
          &.more__menu--container {
            position: relative;
            .more__menu {
              @include add-shadow();
              @include padding-spacing-all($all: 20px);
              @include flex-layout($direction: column, $gap: 20px);
              position: absolute;
              bottom: -182%;
              z-index: 99999;
              right: 10%;
              background-color: $neutral-100;
              width: 180px;
              height: 130px;
              border: 1px solid $secondary-100-4;
              border-radius: $rounded-sm;
              &--action {
                @include flex-layout($gap: 8px);
                @include default-font-style();

                align-items: center;
              }
            }
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $secondary-200-10;
        }
      }
    }
    .user__table--head-btn {
      @include flex-layout();
      @include default-font-style($weight: 600, $size: 12px);
      text-transform: uppercase;
    }
  }
}
